/* .list-item p , .list-item input{
    display: inline-block;
} */
body,html{
    padding: 0%;
    margin: 0;
}
.list-item , #main-list{
    padding: 0;
    border: solid black 1px;
    position: relative;
}
.done{
    right: 1em;
    position: absolute;
    top: 1em;
    transform: scale(1.8);
}

.heading,body{
    text-align: center;
}
.list-item p{
    text-align: left;
}

input,.list-item{ background-color: grey;}